
        			h1  {
        			color: #380B61;
        	 		font-family: 'Roboto', sans-serif;
        	 		margin: 15 px 0;
        	 		font-size: 2cm;
        	 		font-weight: normal;
        	 		text-align: left;
        	 		line-height: 0.5cm;
        			}


        		
        			h2  {
        		  color: #380B61;
        	 		font-family: 'Roboto', sans-serif;
        	 		margin: -5 px 0 0;
        	 		font-weight: normal;
        	 		font-size: 2cm;
        	 		text-align: left;
        	 		line-height: 0.1cm;
        			}
        		



        			h3  {
        		  color: #191970;
        	 		font-family: 'Roboto', sans-serif;
        	 		margin: -5 px 0 0;
        	 		font-weight: normal;
        	 		font-size: 0.6cm;
        	 		line-height: 0.7cm;
        			}
        		


        			h4  {
        		  color: #FE642E;
        	 		font-family: 'Roboto', sans-serif;
        	 		margin: -5 px 0 0;
        	 		font-weight: normal;
        	 		font-size: 0.5cm;
        	 		text-align: left;
        	 		line-height: 0.5cm;
        			}
             
        		
              header {
              margin: 30 30px 30 30 30;
              padding: 5px 0 0;
              text-align: left;
              width: 50%;
                }


          
        		  image {    	
        		  max-width: 100%
        		    }

        		 
                p { 
              font-size: 0.5cm; 
              color: #330000; 
                 }
              
               nav a {
              font-weight: 700;
              text-align: left;
        		  width: 100%;
              font-size: 0.6cm;
              font-family: 'Roboto', sans-serif;	
              color: #B0C4DE;
              background-color: #fff;
                  }

              
              nav ul {
              list-style: none;
                  }


              
              footer {
              font-family: 'Roboto', sans-serif;
              font-size: 0.5cm;
              color: black;
                }
                
             
        		  	a {
            	text-decoration: none;
              	}
           	  
        			header {
      		  	 background: #fff;	
         		   	}
           	
      	     	 .profile-photo {
      		     	image: url("../image/profile photo.jpg");
      		     	display:block;
      		 	    max-width: 150px;
      		     	margin: 0 auto 30px;
      		     	border-radius: 100px;
                float: right;
                position: : right;

      		      }
		    
         