
  		    	h1  {
  		    	color: #380B61;
  	     		font-family: 'Roboto', sans-serif;
  	     		margin: 15 px 0;
  	     		font-size: 2cm;
  	     		font-weight: normal;
  	     		text-align: left;
  	    		line-height: 0.7cm;
  	     		}
  	       
  	     		h2  {
  		      color: #380B61;
  	 	     	font-family: 'Roboto', sans-serif;
  	 	     	margin: -5 px 0 0;
        		font-weight: normal;
  	    		font-size: 2cm;
  	     		text-align: left;
      	 		line-height: 0.8cm;
  	       		}
  	       
  	      	h3  {
  		      color: #191970;
  	     		font-family: 'Roboto', sans-serif;
  	     		margin: -5 px 0 0;
  	    		font-weight: normal;
  	    		font-size: 0.6cm;
  	    		line-height: 0.6cm;
  	     		}
  	      
  		    	h4  {
  		      color: #FE642E;
  	     		font-family: 'Roboto', sans-serif;
  	     		margin: -5 px 0 0;
  	     		font-weight: normal;
  	 	     	font-size: 0.5cm;
  	 	     	text-align: left;
  	     		line-height: 0.5cm;
  		      	}
                h5  {
              color: #191970;
             font-family: 'Roboto', sans-serif;
              margin: -5 px 0 0;
             font-weight: thick;
             font-size: 0.8cm;
             line-height: 0.9cm;
                }
  		    
  		      header {
  		     	margin: 30 30px 30 30 30;
  		   	  padding: 5px 0 0;
  		      text-align: left;
  		      width: 50%;
  		        }
  		      
  		       image {    	
  		       max-width: 100%
  		          }
  		     
  		      p { 
  		  	  font-size: 0.5cm;	
           	 color: #330000; 
               }

            a {
           text-decoration: none;
              }
           
        
            nav a {
           	font-weight: 700;
            text-align: left;
  		     	width: 100%;
            font-size: 0.6cm;
            font-family: 'Roboto', sans-serif;	
          	color: #B0C4DE;
          	background-color: #fff;
            }
           
            nav ul {
            list-style: none;
            }
           
            div.img {
            margin: 5px;
            padding: 10px;
            border: 1px solid #B8B8B8;
            height: auto;
            width: auto;
            float: left;
            text-align: center;
              }

            div.img img {
            display: inline;
            margin: 5px;
            border: 1px solid #B8B8B8;
            }

            div.img a:hover img {
            border:1px solid #B8B8B8;
                  }

            div.desc {
            text-align: center;
            font-weight: normal;
            font-family: 'Roboto', sans-serif;
            font-size: 0.5cm;
            color: black;
            width: 120px;
            margin: 5px;
            }
    		  
            footer {
            font-family: 'Roboto', sans-serif;
            font-size: 0.5cm;
            color: black;
            background-color: #fff; 
             text-align: left;
            float: left;
              
           
               }
       
  		  	 header {
			     background: #fff;	
   		       	}