	
     <style>
     .contact-info {
      list-style: none;
      padding: 0;
      margin 0;
      font size: 0.9cm;
     }
     </style>
     <style>
     .contact-info li .phone {
      background-image: url('../image/phone.jpg');
     }
     </style>
      <style>
     .contact-info li .mail {
      background-image: url('../image/mail.jpg');
     }
     </style>
     <style>
     nav ul{
       margin: 0 10px;
       padding: 0;
       list-style: none;
         }
     </style>
     <style>
    
     </style>
     <style> {
     #secondary
     width:40%
     float:right
     #primary
          }
        <style>