

ul li, #newColor {
	display:block;
	height:54x;
	width:54px;
	border-radius:60px;
	cursor: pointer;
	border:0;
	box-shadow: 0 3px 0 0 #222;
}


ul li{
	display: inline-block;
	margin: 0 5  10px;
}


.red{
   background: #fc4c4f;

}

.blue{
  background: #4fa3fc;
}

.yellow{
	background: #ECD13F;
}

.selected {
  border: 7px solid #fff;
  width:  40px;
  height: 40px;
}